body{
    margin: 0;
    background-color: #aee9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;/*100% высоты нашего экрана*/

}

.stars {
    /*border: 1px solid black;*/
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.star {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.yellow{
    background: gold;
}

.choice{
    border: 2px solid olivedrab;
    background: gold;
}